<div class="container" fxLayout="row" fxLayoutAlign="center none">
  <div fxFlex="95%">

    <mat-card>
      <mat-card-content>

        <h1>Finanças</h1>

        <div class="container" fxLayout="row" fxLayoutAlign="startView none">
          <div fxFlex="20%">
            <app-date-picker-month-year (newItemEvent)="addItem($event)"></app-date-picker-month-year>
          </div>
          
          <div fxFlex="20%">
            <button mat-mini-fab color="primary" (click)="openDialogBill()">
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </div>

        <div class="container" fxLayout="row"  fxLayoutAlign="stretch" fxLayoutGap="16px">
          <div fxFlex="50%">
            <mat-card class="mat-card-incomes">
              <mat-card-title>Receitas</mat-card-title>
              <app-bill-table [bills]="incomes"></app-bill-table>
            </mat-card>
          </div>

          <div fxFlex="50%">
            <mat-card class="mat-card-expenses">
              <mat-card-title>Despesas</mat-card-title>
              <app-bill-table [bills]="expenses"></app-bill-table>
            </mat-card>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

  </div>
</div>