<div class="container" fxLayout="column" fxLayoutAlign="center none">
  <div fxFlex="30%%">

    <mat-card>
      <mat-card-content>

        <h1>Finanças</h1>

        <div class="container" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="16px">
          <div fxFlex="20%">
            <app-date-picker-month-year (newItemEvent)="refreshData($event)"></app-date-picker-month-year>
          </div>

          <div fxFlex="30%">
            <mat-card class="mat-card-incomes mat-card-bills">
              <mat-card-subtitle>Receitas</mat-card-subtitle>
              <h4>{{getIncomeAmountTotal() | currency }}</h4>
            </mat-card>
          </div>

          <div fxFlex="30%">
            <mat-card class="mat-card-expenses mat-card-bills">
              <mat-card-subtitle>Despesas</mat-card-subtitle>
              <h4>{{getExpensesAmountTotal() | currency }}</h4>
            </mat-card>
          </div>

          <div fxFlex="30%">
            <mat-card class="mat-card mat-card-bills">
              <mat-card-subtitle>Saldo líquido</mat-card-subtitle>
              <h4>{{getIncomeAmountTotal() - getExpensesAmountTotal() | currency}}</h4>
            </mat-card>
          </div>
          
          <div fxLayoutAlign="end end">
            <button mat-mini-fab color="primary" (click)="openDialogBill()">
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </div>

        <div class="container" fxLayout="row" fxLayoutAlign="stretch" fxLayoutGap="16px">

            <mat-card class="mat-card-incomes" fxFlex="50%">
              <mat-card-title>Receitas</mat-card-title>
              <app-bill-table [refreshCallbackFunction]="refreshCallbackFunction" [bills]="incomes"></app-bill-table>
            </mat-card>

            <mat-card class="mat-card-expenses" fxFlex="50%">
              <mat-card-title>Despesas</mat-card-title>
              <app-bill-table [bills]="expenses"></app-bill-table>
            </mat-card>
        </div>

      </mat-card-content>
    </mat-card>

  </div>
</div>